*.swp
__pycache__/
experiments/
misc/
*.pdf
*.err
*.out
.pylintrc
.idea
.wandb
.vscode/
.mypy_cache/
vox2organ.egg-info/
vox2organ/pretrained_models/*
!vox2organ/pretrained_models/V2C-Flow-S-ADNI/
evaluation/
group_analysis/
postprocessing/
.ipynb_checkpoints/
supplementary_material/brain_template/
scores.csv